{% block body %}

    <p> Pour changer activer votre compte veuillez cliquer sur le lien suivant  : </p>

    <p><a href="{{ url }}">  Cliquez ici </a> </p>

    <p>  ou bien coller ceci dans la barre d'adresse de votre navigateur : </p>

    <p> {{ url }} </p>

    <p> Bien numériquement , </p>

    <p> L'Equipe NeedHelp. </p>

{% endblock %}