{% extends 'base.html.twig' %}


{% block title %}Changer de mot de passe {% endblock %}

{% block body %}

    <h2 class="jumbotron text-center mt-4"> Changement de mot de passe</h2>

    <div class="container mt-4">

        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('notice') %}
            <div class="alert alert-notice">
                {{ message }}
            </div>
        {% endfor %}


        <form method="post">

            <label for="inputPassword" class="sr-only">Nouveau mot de passe</label>
            <div> Veuillez entrer ci dessous votre nouveau mot de passe </div>
            <input pattern="^\S{8,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Votre mot de passe doit faire minimum 8 caractères' : '')" type="password" name="password" id="inputPassword" class="form-control mt-4" placeholder="Votre mot de passe" required>
            <label for="password_confirm" class="sr-only">Confirmation mot de passe</label>
            <div class="mt-4"> Répétez votre mot de passe </div>
            <input type="password" name="password_confirm" id="password_confirm" class="form-control mt-4" placeholder="Répétez votre mot de passe" required="required"   oninput="check(this)" />
            <input type="hidden" name="token" value="{{ token }}">

            <button class="btn btn-outline-dark mt-4" type="submit">
                Enregistrer nouveau mot de passe.
            </button>

            <script language='javascript' type='text/javascript'>
                function check(input) {
                    if (input.value != document.getElementById('inputPassword').value) {
                        input.setCustomValidity('Votre mot de passe doit etre identique');
                    } else {
                        // input is valid -- reset the error message
                        input.setCustomValidity('');
                    }
                }
            </script>

        </form>
    </div>


{% endblock %}