.idea
public/images
public/media
public/pictures
config
webpack.config.js
package-lock.json
package.json
symfony.lock
phpunit.xml.dist
yarn.lock

.env
.env.test
.phpunit.result.cache
composer.json
composer.lock

/my-project/public/pictures/
/my-project/bin/
/my-project/assets/
/.gitattributes
