{% extends 'base.html.twig' %}

{% block body %}


    <div class="jumbotron text-center mt-4">
        <h1> Formulaire envoyé !</h1>
        <p> Merci ! Nous avons bien reçu ton message. Nous t'avons envoyé un mail.
        L'equipe NeedHelp</p>
    </div>


{% endblock %}