{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">

        <h2 class="text-center"> Votre compte n'est pas activé </h2>

        <div class="jumbotron">
            Votre compte doit etre activé.
            Cliquez sur le lien que vous avez reçu par mail pour activer votre compte.
        </div>
    </div>



{% endblock %}